<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>
<div class="container">

    <div class="row" th:include="/fragments/layout :: navigation"></div>

    <div class="row">
        <h1>Seadmed</h1>

        <hr />

        <table class="table table-hover" id="device-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nimi</th>
                <th>Mudel</th>
                <th>Tootja</th>
                <th>Reg. nr</th>
                <th>Kirjeldus</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="devices" type="com.ttu.model.repairService.Device[]"*/-->
            <tr th:each="device : ${devices}" class="clickable">
                <td class="id" th:text="${device.getDevice()}"></td>
                <td th:text="${device.getName()}"></td>
                <td th:text="${device.getModel()}"></td>
                <td th:text="${device.getManufacturer()}"></td>
                <td th:text="${device.getRegNo()}"></td>
                <td th:text="${device.getDescription()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:include="/fragments/layout :: footer"></div>
</body>
</html>