<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>
<div class="container">

    <div class="row" th:include="/fragments/layout :: navigation"></div>

    <div class="row">
        <h1>Pöördumine</h1>

        <hr />

        <!--/*@thymesVar id="serviceRequest" type="com.ttu.model.repairService.ServiceRequest"*/-->
        <!--/*@thymesVar id="serviceRequestStatusTypes" type="com.ttu.model.repairService.ServiceRequestStatusType[]"*/-->
        <form th:action="@{/request/new}" th:object="${serviceRequest}" name="serviceRequest" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="customerName">Klient</label>
                        <div class="input-group">
                            <input  type="text" class="form-control" id="customerName" disabled="disabled" placeholder="Kliendi nimi" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" onclick="openCustomerSearch(event)" type="button">Otsi klienti</button>
                            </span>
                        </div>
                        <div th:errors="${serviceRequest.customer}"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="clientDescription">Kliendi kirjeldus</label>
                <textarea class="form-control" th:field="*{serviceDescByCustomer}" id="clientDescription" placeholder="Kliendi kirjeldus" rows="3"></textarea>
                <div th:errors="${serviceRequest.serviceDescByCustomer}"></div>
            </div>

            <div class="form-group">
                <label for="employeeDescription">Vastuvõtja kirjeldus</label>
                <textarea class="form-control" th:field="*{serviceDescByEmployee}" id="employeeDescription" placeholder="Vastuvõtja kirjeldus" rows="3"></textarea>
                <div th:errors="${serviceRequest.serviceDescByEmployee}"></div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="status">Staatus</label>
                        <select class="form-control" name="status" id="status" th:field="*{serviceRequestStatusType}">
                            <option th:each="serviceRequestStatusType : ${serviceRequestStatusTypes}"
                                    th:value="${serviceRequestStatusType.getServiceRequestStatusType()}"
                                    th:text="${serviceRequestStatusType.getTypeName()}">

                            </option>
                        </select>
                        <div th:errors="${serviceRequest.serviceRequestStatusType}"></div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Salvesta pöördumine</button>
                <a th:href="@{/request/all}" class="btn btn-danger">Tühista</a>
            </div>

            <input type="hidden" th:field="*{serviceRequest}" />
            <input type="hidden" th:field="*{customer}" />
        </form>
    </div>
</div>

<script>
    let customerSearchWindow;

    function openCustomerSearch(event) {
        event.preventDefault();
        customerSearchWindow = open("http://localhost:8080/customer/search");
    }

    function customerSearchResultChosen(id, name) {
        customerSearchWindow.close();

        document.forms.serviceRequest.querySelector("#customer").value = id;
        document.forms.serviceRequest.querySelector("#customerName").value = name;
    }
</script>

<div th:include="/fragments/layout :: footer"></div>
</body>
</html>