<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>
<div class="container">

    <div class="row" th:include="/fragments/layout :: navigation"></div>

    <div class="row">
        <h1>Arve loomine</h1>

        <hr />

        <!--/*@thymesVar id="invoice" type="com.ttu.model.repairService.Invoice"*/-->
        <!--/*@thymesVar id="serviceDevices" type="com.ttu.model.repairService.ServiceDevice[]"*/-->
        <!--/*@thymesVar id="serviceActions" type="com.ttu.model.repairService.ServiceAction[]"*/-->
        <!--/*@thymesVar id="serviceParts" type="com.ttu.model.repairService.ServicePart[]"*/-->
        <form th:action="@{/invoice/new}" th:object="${invoice}" method="post">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group pull-left">
                        <label for="orderNumber">Tellimuse nr</label>
                        <p id="orderNumber" th:text="${serviceOrder.getServiceOrder()}"></p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group pull-left">
                        <label for="requestNumber">Pöördumise nr</label>
                        <p id="requestNumber" th:text="${serviceOrder.serviceRequest.getServiceRequest()}"></p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group pull-left">
                        <label for="totalPrice">Summa kokku</label>
                        <p id="totalPrice" th:text="${serviceOrder.getPriceTotal()}"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="clientDescription">Kliendi kirjeldus</label>
                        <p id="clientDescription" th:text="${serviceOrder.serviceRequest.getServiceDescByCustomer()}"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="employeeDescription">Vastuvõtja kirjeldus</label>
                        <p id="employeeDescription" th:text="${serviceOrder.serviceRequest.getServiceDescByEmployee()}"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="note">Kirjeldus</label>
                        <p th:text="${serviceOrder.note}" id="note"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="datePicker">Maksmise kuupäev</label>
                        <input class="form-control" type="text" id="datePicker" th:field="*{dueDate}" />
                    </div>
                    <div th:errors="${invoice.dueDate}"></div>
                </div>
            </div>

            <fieldset>
                <legend>Seadmed</legend>
                <div th:each="serviceDevice : ${serviceDevices}">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="deviceName">Seade</label>
                                <p id="deviceName" th:text="${serviceDevice.device.name}"></p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="regNo">Reg. nr</label>
                                <p id="regNo" th:text="${serviceDevice.device.regNo}"></p>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset th:if="${serviceActions.size() > 0}">
                <legend>Tehtud tööd</legend>

                <div th:each="serviceAction : ${serviceActions}">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="device">Seade</label>
                                <p id="device" th:text="${serviceAction.serviceDevice.device.name}"></p>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="workName">Töö</label>
                                <p id="workName" th:text="${serviceAction.actionDescription}"></p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="serviceName">Teenus</label>
                                <p id="serviceName" th:text="${serviceAction.serviceType.getTypeName()}"></p>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="workAmount">Kogus</label>
                                <p id="workAmount" th:text="${serviceAction.serviceAmount}"></p>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="workUnitPrice">Ühiku hind</label>
                                <p id="workUnitPrice" th:text="${serviceAction.price}"></p>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="workTotal">Kokku</label>
                                <p id="workTotal" th:text="${serviceAction.getPrice().multiply(serviceAction.getServiceAmount())}"></p>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>


            <fieldset th:if="${serviceParts.size() > 0}">
                <legend>Kasutatud osad</legend>
                <div th:each="servicePart : ${serviceParts}">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="partDevice">Seade</label>
                                <p id="partDevice" th:text="${servicePart.serviceDevice.device.name}"></p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="partName">Osa</label>
                                <p id="partName" th:text="${servicePart.partName}"></p>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="partAmount">Kogus</label>
                                <p id="partAmount" th:text="${servicePart.partCount}"></p>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="partUnitPrice">Ühiku hind</label>
                                <p id="partUnitPrice" th:text="${servicePart.partPrice}"></p>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="partTotal">Kokku</label>
                                <p id="partTotal" th:text="${servicePart.getPartPrice().multiply(servicePart.getPartCount())}"></p>
                            </div>
                        </div>

                    </div>
                </div>

            </fieldset>

            <hr />

            <div class="form-group label-margin">
                <button type="submit" class="btn btn-primary">Salvesta arve</button>
                <a th:href="@{/order/{id}(id=${serviceOrder.getServiceOrder()})}" class="btn btn-danger">Tühista</a>
            </div>

            <input type="hidden" th:field="*{serviceOrder}" />
        </form>
    </div>
</div>

<div th:include="/fragments/layout :: footer"></div>

<script>
    var picker = new Pikaday({
        field: $('#datePicker')[0],
        minDate: new Date(),
        format: 'YYYY-MM-DD'
    });
</script>
</body>
</html>