<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>
<div class="container">

    <div class="row" th:include="/fragments/layout :: navigation"></div>

    <div class="row">
        <h1>Tellimus</h1>

        <hr />

        <!--/*@thymesVar id="serviceOrder" type="com.ttu.model.repairService.ServiceOrder"*/-->
        <form th:action="@{/order/new}" th:object="${serviceOrder}" method="post">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group pull-left">
                        <label for="requestNumber">Pöördumise nr</label>
                        <p id="requestNumber" th:text="${serviceRequest.getServiceRequest()}"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="clientDescription">Kliendi kirjeldus</label>
                        <p id="clientDescription" th:text="${serviceRequest.getServiceDescByCustomer()}"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="employeeDescription">Vastuvõtja kirjeldus</label>
                        <p id="employeeDescription" th:text="${serviceRequest.getServiceDescByEmployee()}"></p>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label for="note">Kirjeldus</label>
                <textarea class="form-control" th:field="*{note}" id="note" placeholder="Kirjeldus" rows="3"></textarea>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="status">Tellimuse staatus</label>
                        <select class="form-control" name="status" id="status" th:field="*{soStatusType}">
                            <!--/*@thymesVar id="serviceOrderStatusTypes" type="com.ttu.model.repairService.SoStatusType[]"*/-->
                            <option th:each="status : ${serviceOrderStatusTypes}"
                                    th:value="${status.getSoStatusType()}"
                                    th:text="${status.getTypeName()}">
                            </option>
                        </select>
                        <div th:errors="${serviceOrder.soStatusType}"></div>
                    </div>
                </div>

                <div class="form-group label-margin">
                    <button type="submit" class="btn btn-primary">Salvesta tellimus</button>
                    <a th:href="@{/order/all}" class="btn btn-danger">Tühista</a>
                </div>
            </div>

            <input type="hidden" th:field="*{serviceOrder}"/>
            <input type="hidden" th:field="*{serviceRequest}"/>
            <input type="hidden" th:field="*{createdBy}"/>
            <input type="hidden" th:field="*{updatedBy}"/>
            <input type="hidden" th:field="*{created}"/>
            <input type="hidden" th:field="*{updated}"/>
            <input type="hidden" th:field="*{statusChanged}"/>
            <input type="hidden" th:field="*{statusChangedBy}"/>
            <input type="hidden" th:field="*{priceTotal}"/>
        </form>
    </div>
</div>

<div th:include="/fragments/layout :: footer"></div>
</body>
</html>