<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>
<div class="container">

    <div class="row" th:include="/fragments/layout :: navigation"></div>

    <div class="row">
        <h1>Seadme lisamine</h1>

        <hr />

        <!--/*@thymesVar id="device" type="com.ttu.model.repairService.Device"*/-->
        <!--/*@thymesVar id="deviceTypes" type="com.ttu.model.repairService.DeviceType[]"*/-->
        <form th:action="@{/device/new}" th:object="${device}" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Nimi</label>
                        <input class="form-control" id="name" th:field="*{name}" type="text" placeholder="Seadme nimi"/>
                        <div th:errors="${device.name}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="model">Mudel</label>
                        <input class="form-control" id="model" th:field="*{model}" type="text" placeholder="Seadme mudel" />
                        <div th:errors="${device.model}"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="description">Kirjeldus</label>
                        <input class="form-control" id="description" th:field="*{description}" type="text" placeholder="Seadme kirjeldus" />
                        <div th:errors="${device.description}"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="manufacturer">Tootja</label>
                        <input class="form-control" id="manufacturer" th:field="*{manufacturer}" type="text" placeholder="Seadme tootja" />
                        <div th:errors="${device.manufacturer}"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="regNo">Seerianumber</label>
                        <input class="form-control" id="regNo" th:field="*{regNo}" type="text" placeholder="Seadme seerianumber" />
                        <div th:errors="${device.regNo}"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="deviceType">Tüüp</label>
                        <select class="form-control" name="device" id="deviceType" th:field="*{deviceType}">
                            <option th:each="deviceType : ${deviceTypes}"
                                    th:value="${deviceType.getDeviceType()}"
                                    th:text="${deviceType.getTypeName()}"></option>
                        </select>
                        <div th:errors="${device.deviceType}"></div>
                    </div>
                </div>
            </div>

            <div class="form-group label-margin">
                <button type="submit" class="btn btn-primary">Lisa seade</button>
                <a th:href="@{/device/all}" class="btn btn-danger">Tühista</a>
            </div>
        </form>
    </div>
</div>

<div th:include="/fragments/layout :: footer"></div>
</body>
</html>