<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>
<div class="container">

    <div class="row" th:include="/fragments/layout :: navigation"></div>

    <div class="row">
        <h1>Tellimus</h1>

        <hr />

        <!--/*@thymesVar id="serviceOrder" type="com.ttu.model.repairService.ServiceOrder"*/-->
        <!--/*@thymesVar id="serviceRequest" type="com.ttu.model.repairService.ServiceRequest"*/-->
        <!--/*@thymesVar id="serviceDeviceStatusTypes" type="com.ttu.model.repairService.ServiceDeviceStatusType[]"*/-->
        <!--/*@thymesVar id="serviceActions" type="com.ttu.model.repairService.ServiceAction[]"*/-->
        <!--/*@thymesVar id="serviceTypes" type="com.ttu.model.repairService.ServiceType[]"*/-->
        <!--/*@thymesVar id="serviceActionStatusTypes" type="com.ttu.model.repairService.ServiceActionStatusType[]"*/-->
        <!--/*@thymesVar id="serviceOrderStatusTypes" type="com.ttu.model.repairService.SoStatusType[]"*/-->
        <!--/*@thymesVar id="serviceDevices" type="com.ttu.model.repairService.ServiceDevice[]"*/-->
        <!--/*@thymesVar id="serviceParts" type="com.ttu.model.repairService.ServicePart[]"*/-->
        <!--/*@thymesVar id="finished" type="boolean"*/-->
        <form th:action="@{/order/{id}(id=${serviceOrder.getServiceOrder()})}" th:object="${serviceOrder}" name="createServiceOrder" method="post">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group pull-left">
                        <label for="orderNumber">Tellimuse nr</label>
                        <p id="orderNumber" th:text="${serviceOrder.getServiceOrder()}"></p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group pull-left">
                        <label for="requestNumber">Pöördumise nr</label>
                        <p id="requestNumber" th:text="${serviceRequest.getServiceRequest()}"></p>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group pull-left">
                        <label for="totalPrice">Summa kokku</label>
                        <p id="totalPrice" th:text="${serviceOrder.getPriceTotal()}"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="clientDescription">Kliendi kirjeldus</label>
                        <p id="clientDescription" th:text="${serviceRequest.getServiceDescByCustomer()}"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="employeeDescription">Vastuvõtja kirjeldus</label>
                        <p id="employeeDescription" th:text="${serviceRequest.getServiceDescByEmployee()}"></p>
                    </div>
                </div>
            </div>


            <fieldset>
                <legend>Seadmed</legend>
                <div th:each="serviceDevice, iterator: ${serviceDevices}">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="deviceName">Seade</label>
                                <input class="form-control" disabled="disabled" id="deviceName" th:value="${serviceDevice.device.name}" />
                                <input type="hidden" th:field="*{serviceDevices[__${iterator.index}__].device}" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="regNo">Reg. nr</label>
                                <input class="form-control" disabled="disabled" id="regNo" th:value="${serviceDevice.device.regNo}" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="deviceStatus">Staatus</label>
                                <select class="form-control" name="deviceStatus" id="deviceStatus" th:disabled="${finished}" th:field="*{serviceDevices[__${iterator.index}__].serviceDeviceStatusType}">
                                    <option th:each="serviceDeviceStatusType : ${serviceDeviceStatusTypes}"
                                            th:value="${serviceDeviceStatusType.getServiceDeviceStatusType()}"
                                            th:text="${serviceDeviceStatusType.getTypeName()}">
                                    </option>
                                </select>
                            </div>
                            <div th:errors="${serviceOrder.serviceDevices[__${iterator.index}__].serviceDeviceStatusType}"></div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group label-margin">
                                <a th:if="${finished != true}" th:href="@{/service-device/{id}/delete(id=${serviceDevice.getServiceDevice()})}" class="btn btn-danger remove-device">X</a>
                                <button th:if="${finished == true}" disabled="disabled" class="btn btn-danger remove-device">X</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div th:if="${finished != true}" class="form-group">
                    <p><a onclick="openDeviceSearch(event)" id="add-device" class="btn btn-success add-device no-margin">Lisa seade</a></p>
                </div>
            </fieldset>

            <fieldset>
                <legend>Tehtud tööd</legend>

                <div th:each="serviceAction, iterator : ${serviceActions}">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="device">Seade</label>
                                <select class="form-control" name="device" id="device" th:disabled="${finished}" th:field="*{serviceActions[__${iterator.index}__].serviceDevice}">
                                    <option th:each="serviceDevice : ${serviceDevices}"
                                            th:value="${serviceDevice.getServiceDevice()}"
                                            th:text="${serviceDevice.getDevice().getName()}"></option>
                                </select>
                                <div th:errors="${serviceOrder.serviceActions[__${iterator.index}__].serviceDevice}"></div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="workName">Töö</label>
                                <input class="form-control" id="workName" th:field="*{serviceActions[__${iterator.index}__].actionDescription}" th:disabled="${finished}" name="name" type="text" placeholder="Töö nimetus" />
                                <div th:errors="${serviceOrder.serviceActions[__${iterator.index}__].actionDescription}"></div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="serviceName">Teenus</label>
                                <select class="form-control" name="serviceName" id="serviceName" th:disabled="${finished}" th:field="*{serviceActions[__${iterator.index}__].serviceType}">
                                    <option th:each="serviceType : ${serviceTypes}"
                                            th:value="${serviceType.getServiceType()}"
                                            th:text="${serviceType.getTypeName()}">
                                    </option>
                                </select>
                                <div th:errors="${serviceOrder.serviceActions[__${iterator.index}__].serviceType}"></div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="serviceStatus">Staatus</label>
                                <select class="form-control" name="serviceName" id="serviceStatus" th:disabled="${finished}" th:field="*{serviceActions[__${iterator.index}__].serviceActionStatusType}">
                                    <option th:each="serviceActionStatusType : ${serviceActionStatusTypes}"
                                            th:value="${serviceActionStatusType.getServiceActionStatusType()}"
                                            th:text="${serviceActionStatusType.getTypeName()}">
                                    </option>
                                </select>
                                <div th:errors="${serviceOrder.serviceActions[__${iterator.index}__].serviceActionStatusType}"></div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="workAmount">Kogus</label>
                                <input class="form-control" id="workAmount" th:field="*{serviceActions[__${iterator.index}__].serviceAmount}" th:disabled="${finished}" name="workAmount" type="number" />
                                <div th:errors="${serviceOrder.serviceActions[__${iterator.index}__].serviceAmount}"></div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="workUnitPrice">Hind</label>
                                <input class="form-control" id="workUnitPrice" th:field="*{serviceActions[__${iterator.index}__].price}" th:disabled="${finished}" name="workUnitPrice" type="number" />
                                <div th:errors="${serviceOrder.serviceActions[__${iterator.index}__].price}"></div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="workTotal">Kokku</label>
                                <input class="form-control" id="workTotal" th:value="${serviceAction.getPrice().multiply(serviceAction.getServiceAmount())}" name="workTotal" disabled="disabled" type="number" />
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group label-margin">
                                <a th:if="${finished != true}" th:href="@{/service-action/{id}/delete(id=${serviceAction.getServiceAction()})}" class="btn btn-danger remove-work">X</a>
                                <button th:if="${finished == true}" disabled="disabled" class="btn btn-danger remove-work">X</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${finished != true}" class="form-group">
                    <a th:href="@{/order/{id}/add-action(id=${serviceOrder.getServiceOrder()})}" class="btn btn-success">Lisa töö</a>
                </div>
            </fieldset>

            <fieldset>
                <legend>Kasutatud osad</legend>
                <div th:each="servicePart, iterator : ${serviceParts}">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="partDevice">Seade</label>
                                <select class="form-control" name="device" id="partDevice" th:disabled="${finished}" th:field="*{serviceParts[__${iterator.index}__].serviceDevice}">
                                    <option th:each="serviceDevice : ${serviceDevices}"
                                            th:value="${serviceDevice.getServiceDevice()}"
                                            th:text="${serviceDevice.getDevice().getName()}"></option>
                                </select>
                                <div th:errors="${serviceOrder.serviceParts[__${iterator.index}__].serviceDevice}"></div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="partName">Osa</label>
                                <input class="form-control" id="partName" th:field="*{serviceParts[__${iterator.index}__].partName}" th:disabled="${finished}" name="partName" type="text" placeholder="Osa nimetus" />
                                <div th:errors="${serviceOrder.serviceParts[__${iterator.index}__].partName}"></div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="partAmount">Kogus</label>
                                <input class="form-control" id="partAmount" th:field="*{serviceParts[__${iterator.index}__].partCount}" th:disabled="${finished}" name="partAmount" type="number" />
                                <div th:errors="${serviceOrder.serviceParts[__${iterator.index}__].partCount}"></div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="partUnitPrice">Ühiku hind</label>
                                <input class="form-control" id="partUnitPrice" th:field="*{serviceParts[__${iterator.index}__].partPrice}" th:disabled="${finished}" name="partUnitPrice" type="number" />
                                <div th:errors="${serviceOrder.serviceParts[__${iterator.index}__].partPrice}"></div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="partTotal">Kokku</label>
                                <input class="form-control" id="partTotal" th:value="${servicePart.getPartPrice().multiply(servicePart.getPartCount())}" name="partTotal" disabled="disabled" type="number" />
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group label-margin">
                                <a th:if="${finished != true}" th:href="@{/service-part/{id}/delete(id=${servicePart.getServicePart()})}" class="btn btn-danger remove-part">X</a>
                                <button th:if="${finished == true}" disabled="disabled" class="btn btn-danger remove-part">X</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${finished != true}" class="form-group">
                    <div class="form-group">
                        <a th:href="@{/order/{id}/add-part(id=${serviceOrder.getServiceOrder()})}" class="btn btn-success">Lisa osa</a>
                    </div>
                </div>
            </fieldset>

            <hr />

            <div class="form-group">
                <label for="note">Kirjeldus</label>
                <textarea class="form-control" th:field="*{note}" id="note" placeholder="Kirjeldus" rows="3"></textarea>
                <div th:errors="${serviceOrder.note}"></div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="status">Tellimuse staatus</label>
                        <select class="form-control" name="status" id="status" th:field="*{soStatusType}">
                            <option th:each="statusType : ${serviceOrderStatusTypes}"
                                    th:value="${statusType.getSoStatusType()}"
                                    th:text="${statusType.getTypeName()}"></option>
                        </select>
                        <div th:errors="${serviceOrder.soStatusType}"></div>
                    </div>
                </div>

                <div class="form-group label-margin">
                    <button type="submit" class="btn btn-primary">Salvesta tellimus</button>
                    <a th:if="${serviceOrder.soStatusType.soStatusType == 3}" th:href="@{/invoice/new/{id}(id=${serviceOrder.getServiceOrder()})}" class="btn btn-info">Loo arve</a>
                    <a th:if="${serviceOrder.soStatusType.soStatusType == 4}" th:href="@{/invoice/{id}(id=${serviceOrder.getServiceOrder()})}" class="btn btn-info">Vaata arvet</a>
                    <a th:href="@{/request/{id}(id=${serviceRequest.getServiceRequest()})}" class="btn btn-danger">Tühista</a>
                </div>
            </div>

            <input type="hidden" th:field="*{serviceOrder}"/>
            <input type="hidden" th:field="*{serviceRequest}"/>
            <input type="hidden" th:field="*{createdBy}"/>
            <input type="hidden" th:field="*{updatedBy}"/>
            <input type="hidden" th:field="*{created}"/>
            <input type="hidden" th:field="*{updated}"/>
            <input type="hidden" th:field="*{statusChanged}"/>
            <input type="hidden" th:field="*{statusChangedBy}"/>
            <input type="hidden" th:field="*{priceTotal}"/>

        </form>
    </div>
</div>

<div th:include="/fragments/layout :: footer"></div>

<script>
    let deviceSearchWindow;

    function openDeviceSearch(event) {
        deviceSearchWindow = open("http://localhost:8080/device/search");
    }

    function deviceSearchResultChosen(id) {
        deviceSearchWindow.close();

        var orderId = document.forms.createServiceOrder.querySelector("#serviceOrder").value;
        var url = 'http://localhost:8080/order/' + orderId + '/add-device/' + id;

        $.get(url).done(function (data) {
            location.reload();
        });

    }
</script>
</body>
</html>