<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>
<div class="container">

    <div class="row" th:include="/fragments/layout :: navigation"></div>

    <div class="row">
        <h1>Tellimused</h1>

        <hr />

        <table class="table table-hover" id="order-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Kirjeldus</th>
                <th>Staatus</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="orders" type="com.ttu.model.repairService.ServiceOrder[]"*/-->
            <tr th:each="order : ${orders}" class="clickable">
                <td class="id" th:text="${order.getServiceOrder()}"></td>
                <td th:text="${order.getNote()}"></td>
                <td th:text="${order.getSoStatusType().getTypeName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:include="/fragments/layout :: footer"></div>
</body>
</html>