<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>
<div class="container">

    <div class="row" th:include="/fragments/layout :: navigation"></div>

    <div class="row">
        <h1>Pöördumised</h1>

        <hr />

        <table class="table table-hover" id="request-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Klient</th>
                <th>Staatus</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="requests" type="com.ttu.model.repairService.ServiceRequest[]"*/-->
            <tr th:each="request : ${requests}" class="clickable">
                <td class="id" th:text="${request.getServiceRequest()}"></td>
                <td th:text="${request.getCustomer().getSubject().getFirstName()} + ' ' + ${request.getCustomer().getSubject().getLastName()}"></td>
                <td th:text="${request.getServiceRequestStatusType().getTypeName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:include="/fragments/layout :: footer"></div>
</body>
</html>