<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,600"  type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" />
</head>
<body>
<div class="container">

    <div class="row">
        <div class="twelve columns">
            <nav class="navigation">
                <ul class="nav-list">
                    <li><a th:href="@{/shoe/s}">Servlet</a></li>
                    <li><a th:href="@{/shoe/log}">Log</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="shoe : ${shoes}">
                        <td th:text="${shoe.id}"></td>
                        <td th:text="${shoe.name}"></td>
                        <td th:text="${shoe.price}"></td>
                        <td><a th:href="${'/shoe/shoeservice?id=' + shoe.id}">Description</a></td>
                        <td><a th:href="${'/shoe/s?id=' + shoe.id}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>