div.container { margin-top: 50px; }

nav.navigation {
    display: block;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 5rem;
    margin-bottom: 40px;
}

nav.navigation ul { list-style: none; }

nav.navigation ul a, nav.navigation ul li a {
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
}

nav.navigation ul li {
    float: left;
    position: relative;
}

nav.navigation ul li a {
    margin-right: 30px;
    line-height: 5rem;
}

nav.navigation ul li a:hover {
    color: #1EAEDB;
}

form p#id { margin-bottom: 1.5rem; }

p.error { color: red;}