<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>

<div class="container">
    <h3>Kliendi otsimine</h3>

    <div class="row">
        <!--/*@thymesVar id="person" type="com.ttu.model.subject.Person"*/-->
        <form method="post" th:object="${person}">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="firstName">Eesnimi</label>
                    <input type="text" id="firstName" class="form-control" th:field="*{firstName}" placeholder="Eesnimi"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Perenimi</label>
                    <input type="text" id="lastName" class="form-control" th:field="*{lastName}" placeholder="Eesnimi"/>
                </div>

                <button type="submit" class="btn btn-primary">Otsi</button>
            </div>
        </form>
    </div>


    <hr/>

    <div class="list-group">
        <!--/*@thymesVar id="customers" type="com.ttu.model.subject.Customer[]"*/-->
        <a class="list-group-item"
           th:each="customer : ${customers}"
           th:text="${customer.subject.firstName} + ' ' + ${customer.subject.lastName}"
           th:attr="data-id=${customer.customer}, data-name=${customer.subject.getFirstName()} + ' ' + ${customer.subject.getLastName()}"
           onclick="chooseResult(event)"></a>
    </div>

    <script>
        function chooseResult(event) {
            const { id, name } = event.target.dataset;

            const callback = window.opener.customerSearchResultChosen;

            if (typeof callback === "function") {
                callback(id, name);
            }
        }
    </script>
</div>

</body>
</html>