<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="/fragments/layout :: header"></head>
<body>

<div class="container">
    <h3>Seadme otsimine</h3>

    <!--/*@thymesVar id="device" type="com.ttu.model.repairService.Device"*/-->
    <!--/*@thymesVar id="results" type="com.ttu.model.repairService.Device[]"*/-->
    <div class="row">
        <form method="post" th:object="${device}">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Seadme nimi"/>
                </div>
            </div>
        </form>
    </div>

    <hr/>

    <div class="list-group">
        <a class="list-group-item"
           th:each="device : ${results}"
           th:attr="data-id=${device.device}"
           onclick="chooseResult(event)">
            <span class="label label-primary label-pill pull-xs-right" th:text="${device.getRegNo()}"></span>
            <span th:text="${device.getName()}"></span> <small th:text="${device.getDeviceType().getTypeName()}"></small>
        </a>
    </div>
</div>

<script>
    function chooseResult(event) {
        const { id } = event.target.dataset;

        const callback = window.opener.deviceSearchResultChosen;

        if (typeof callback === "function") {
            callback(id);
        }
    }
</script>
</body>
</html>