<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header">
    <title>Repair Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/stylesheet.css}" />
</head>
<body>

<div th:fragment="navigation">
    <ul class="nav nav-pills">
        <li role="presentation"><a th:href="@{/customer/orders}">Tellimused</a></li>
        <li role="presentation"><a th:href="@{/logout}">Logi välja</a></li>
    </ul>
    <hr />
</div>

<div th:fragment="footer">
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/script.js}"></script>
</div>
</body>
</html>